@CHARSET "UTF-8";
/**
 * @version JPK System 1.0 beta
 * @author songyinghao
 * @sorcecode utf-8
 * @licese LGPL,All Rights Reserved.
 * @description It is the Regin/Login System CSS Style Sheet of the JPK System
 */
.JpkFieldCSS{
    margin: 0px 0px 5px 0px;
}
.JpkTreeNodeCSS{
	height:20px;
    margin-top:3px;
	margin-bottom:3px;
	font-size:13px;
}