<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-lazy-init="true">

	<!-- 属性文件读入 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:config.properties</value>
			</list>
		</property>
	</bean>

	<!-- 支持 @Transactional 标记 -->
	<tx:annotation-driven />

	<!-- 支持 @AspectJ 标记-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<!-- 以AspectJ方式 定义 AOP -->
	<aop:config proxy-target-class="true">
		<aop:advisor
			pointcut="execution(* com.cutty.bravo.components..*Manager.*(..))"
			advice-ref="txAdvice" />
		<aop:advisor
			pointcut="execution(* com.cutty.bravo.core..*Manager.*(..))"
			advice-ref="txAdvice" />			
		<aop:advisor
			pointcut="execution(* com.cutty.bravo.core.dao..*DaoImpl.*(..))"
			advice-ref="txAdvice" />
		<aop:advisor
			pointcut="execution(* com.cutty.bravo.core.dao..*Dao.*(..))"
			advice-ref="txAdvice" />
	</aop:config>

	<!-- 基本事务定义,使用transactionManager作事务管理,默认get*方法的事务为readonly,其余方法按默认设置. -->
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

 	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">  
	    <property name="maxActive" value="${redis.pool.maxActive}" />  
	    <property name="maxIdle" value="${redis.pool.maxIdle}" />  
	    <property name="maxWait" value="${redis.pool.maxWait}" />  
	    <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />  
	</bean>  
	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">  
	    <constructor-arg index="0" ref="jedisPoolConfig" />  
	    <constructor-arg index="1">  
	        <list>  
	            <bean class="redis.clients.jedis.JedisShardInfo">  
	                <constructor-arg index="0" value="${redis1.ip}" />  
	                <constructor-arg index="1" value="${redis.port}" type="int" />  
	            </bean> 
	            <!-- 
	            <bean class="redis.clients.jedis.JedisShardInfo">  
	                <constructor-arg index="0" value="${redis2.ip}" />  
	                <constructor-arg index="1" value="${redis.port}" type="int" />  
	            </bean>   --> 
	        </list>  
	    </constructor-arg>  
	</bean>  
	<!-- bean id="cacheManager" class="com.cutty.bravo.core.utils.cache.redis.CacheManagerImpl"  depends-on="applicationContextKeeper" >
	    <property name="shardedJedisPool" ref="shardedJedisPool" />
	</bean-->
	<bean id="cacheManager" class="com.cutty.bravo.core.utils.cache.ehcache.CacheManagerImpl"/>
	<bean id="applicationContextKeeper" class="com.cutty.bravo.core.utils.ApplicationContextKeeper"></bean>
</beans>