.bogus-icon {
	background-image: url(images/bogus16x16.gif) !important;
}
.bogus-shortcut img {
    background-image: url(images/bogus48x48.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../widgets/desktop/system/modules/bogus/bogus-win/images/bogus48x48.png', sizingMethod='scale');
}
#bogus-nav-panel li {
	margin-bottom:5px;
}